@model IEnumerable<Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContinente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContinente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdPais}) |

                @Html.ActionLink("Delete", "Delete", new { id=item.IdPais })
            </td>
        </tr>
}
    </tbody>
</table>
